<!-- views/auth/signup.hbs -->
<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
  <input id="name" type="text" name="name" placeholder="Name" required> *

  <br><br>

  <input id="username" type="text" name="username" placeholder="Username" required> *

  <br><br>

  <input id="email" type="text" name="email" placeholder="Email" required> *

  <br><br>
  
  <input id="phone" type="tel" name="phone" placeholder="305-213-7837" {{!-- pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" --}} onchange="addSpaces(this.value)" required>
  <label>305-213-7837</label>

  <br><br>

  <input id="password" type="password" name="password" placeholder="Password" required> *
  <br>
  <input id="password2" type="password" name="password2" placeholder="Confirm Password" required> *

  <br><br>

  <input id="groupId" type="text" name="groupId" placeholder="Family Id (if provided)">
  <br><br>
  <label for="profile">Profile Picture</label><br>
  <input id="profile" type="file" name="profile">

Error Message: {{message}}

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
