<h1 class="text-center">New Group</h1>

<form action="/groups/create" method="post" enctype="multipart/form-data">
    <input type="text" class="form-control" name="name" placeholder="Name">

    <br>

    <input type="text" class="form-control" name="description" placeholder="Description">

    <br>
    
    <label>Group Pic</label>
    <input type="file" class="btn" name="groupPic">

    <br>

        <fieldset id="usersField">
    </fieldset>
<br>

    <label>Add Members</label>

    <div class="dropdown">
        <input type="text" multiple placeholder="Search.." id="userInput" onkeyup="filterFunction(), showMembersInput()" autocomplete="off">
        <input type="button" value="Add" onclick="addMember()">
        <div id="myDropdown" class="dropdown-content">
            {{#each user}}
            <a href="#{{this.username}}">{{this.username}}</a>
            {{/each}}
        </div>
    </div>
    
    <br><br>

    <input type="submit" value="Create Group!">
</form>