<a href="/groups/create"><input type="button" value="Create Group"></a>
<input id="join-group" type="button" value="Join Group" onclick="showForm('join-group', 'join-group-form')">
<form id="join-group-form" onsubmit="joinGroup()" style="display:none">
    <input type="text" id="groupId" placeholder="Supremely Secret Group ID">
    <input type="submit" value="Join Group!">
</form>

{{#each groups}}
    <div>
        <a href="/groups/{{this._id}}"><img class="event-pic" src="{{this.groupPic}}"></a>
        <p>{{this.name}}</p>
        <p>{{this.description}}</p>
    </div>
{{/each}}